#sobre-nos-paineis {
	margin-top: 20px; 
}
#sobre-nos-paineis p{
	color: black; 
}

#contato, #img-contato{
	color: #d4d2d2;
}
#img-contato{
	padding-top: 60px;
	text-align: center;
}
.thumbnail-contato{
	background-color: #2E2E2E;
}

.titulo-depoimentos{
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
	width: 100%;
}

.grupo-radio, 
.contato-select{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.grupo-radio 
.radio-first-child{
	margin-top: 0;
}

.topCasaFina-banner{
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
	width: 80%;
	border-radius: 8px;
	position: absolute;
	top: 50% ;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.icon-bar{
	align-items: 0;
}

.panel-default>.panel-heading {
	color: #080808;
	background-color: rgba(171, 171, 171, 0.49);
	border-color: rgba(208, 205, 205, 0.67);
}

.dropdown-menu{
	background-color: #ccc;
}

.jumbotron{
	background-color: rgba(0,0,10,.9);
	color: #FFF;
}

.equipe-section{
	color: #FFF;
}

.title-icons.title-conhecimento {
    width: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 39px;
    margin-bottom: 5px;
    color: #FFF;
}

.title-conhecimento{
	margin-bottom: 20px;
}

.h3-conhecimento{
	text-align: center;
	color: #FFF;
}

.p-mid {
	display: block;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	float: none;
	color: #FFF;
	max-width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}

.box-icon {
    height: auto;
    padding: 120px 0 0;
    float: left;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-size: 78px;
    margin-bottom: 80px;
}

.box-icon._001 {
	background-image: url(../icon/plan.svg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
}
.box-icon._002 {
	background-image: url(../icon/design.svg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
}
.box-icon._003 {
	background-image: url(../icon/process.svg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
}

.box-icon.conhecimento_001 {
	background-image: url(../icon/area-conhecimento/angular.svg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}
.box-icon.conhecimento_002 {
	background-image: url(../icon/area-conhecimento/bootstrap.svg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}
.box-icon.conhecimento_003 {
	background-image: url(../icon/area-conhecimento/nodejs.svg);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	}
.box-icon.conhecimento_004 {
	background-image: url(../icon/area-conhecimento/mongodb-logo.png);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	}
.box-icon.conhecimento_005 {
	background-image: url(../icon/area-conhecimento/html5-logo.png);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	}
.box-icon.conhecimento_006 {
	background-image: url(../icon/area-conhecimento/parse-server-logo.png);
	background-position: 50% 30px;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	}
.h3-produtos{
	color: #FFF;
}

.content-all{
	padding-top: 40px;
	padding-bottom: 40px; 
}


@media(min-width: 768px){
	#sobre-nos-paineis{
	margin-top: 0;
	}

	.box-icon {
		float: right;
	}
}

@media(min-width: 992px){
	.topCasaFina-banner{
		left: 0;
		transform: translate(0%, -50%);
		width: 40%
	}

	.topCasaFina-bannerWrapper{
		position: relative;
		height: 100%;
		width: 70%;
	}

	.thumbnail-contato{
		margin: 1em 51px;
	}

	.highlight-block{
		position: relative;
		box-sizing: border-box;
		padding: .2px .1px;
		background-color: #919090;
	}

	.linha-divisao{
		position: relative;
		box-sizing: border-box;
		padding: .2px .1px;
		background-color: #019090;
	}

	.box-icon {
		float: left;
	}
}

h2{
	color: #FFF;
	margin-top: 55px;
	font-weight: 700;
	letter-spacing: -1px;
	padding: 0 0 15px;
	font-family: 'norwester';
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
}

html, body{
	background-color: #2E2E2E;
	height: 100%;
}

header h1{
	margin-top: 0;
	margin-bottom: 0;
}

header{
	background-image: url(../img/img-principal.jpg);
	background-size: cover;
	background-position: top center;
	height: 100%;
	position: relative;
}

footer{
	position: relative;
	background-color: rgba(0,0,10,.9);
	text-align: center;
	color: #f0f0fa;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
 margin-bottom: 0;
}



